.identity{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 2rem;
    font-size: 15px;
    font-style: italic;
    font-family: sans-serif;
    color: blueviolet;

}

.mb-3 input{
    font-size: 25px;
}

.form-control:focus{
    box-shadow: none;
    border-color: blueviolet;
}